<section id="contact">
  <h3>Contact<span class="primary">.</span></h3>
  <p>Thank you for checking out my portfolio! I am currently looking for an <span class="underline bold">entry-level web developer position</span>.</p>
  <p>
    If you have a job opening please call me on <span class="underline bold">07856673788</span> or send me an email to <a href="mailto:hello@patriciamolnar.com" class="bold">hello@patriciamolnar.com</a> to chat about the role.
  </p>
  <a href="mailto:hello@patriciamolnar.com" class="button" id="contact__link">Contact</a>
  <a href="mailto:hello@patriciamolnar.com" id="contact-button">
    <svg><use href="#envelope"></use></svg>
  </a>

  <br />
  <small>This link will open your mail software</small>
</section>
</main>

<svg class="divider dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 49"><polygon class="cls-1" points="500 0 500 49 255 20 119 49 0 25 0 0 500 0"/></svg>