<footer>
  <p>&copy; <span id="current-year"></span>Portfolio page of Patricia Molnar - full stack Web Developer</p>
  <p>Email: hello@patriciamolnar.com</p>
  <p>Phone: 0123456789</p>
  <div>
    <a href=""><svg><use href="#github"></use></svg></a>
    <a href=""><svg><use href="#linkedin"></use></svg></a>
    <a href=""><svg><use href="#youtube"></use></svg></a>
    <a href=""><svg><use href="#twitter"></use></svg></a>
    <a href=""><svg><use href="#instagram"></use></svg></a>
  </div>
</footer>

<script src="js/script.js"></script>

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <symbol id="github">
      <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
  </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<symbol id="linkedin">
    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 16h-2v-6h2v6zm-1-6.891c-.607 0-1.1-.496-1.1-1.109 0-.612.492-1.109 1.1-1.109s1.1.497 1.1 1.109c0 .613-.493 1.109-1.1 1.109zm8 6.891h-1.998v-2.861c0-1.881-2.002-1.722-2.002 0v2.861h-2v-6h2v1.093c.872-1.616 4-1.736 4 1.548v3.359z"/>
</symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<symbol id="youtube">
    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.441 16.892c-2.102.144-6.784.144-8.883 0-2.276-.156-2.541-1.27-2.558-4.892.017-3.629.285-4.736 2.558-4.892 2.099-.144 6.782-.144 8.883 0 2.277.156 2.541 1.27 2.559 4.892-.018 3.629-.285 4.736-2.559 4.892zm-6.441-7.234l4.917 2.338-4.917 2.346v-4.684z"/>
</symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<symbol id="twitter">
    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z"/>
</symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<symbol id="instagram">
    <path d="M14.829 6.302c-.738-.034-.96-.04-2.829-.04s-2.09.007-2.828.04c-1.899.087-2.783.986-2.87 2.87-.033.738-.041.959-.041 2.828s.008 2.09.041 2.829c.087 1.879.967 2.783 2.87 2.87.737.033.959.041 2.828.041 1.87 0 2.091-.007 2.829-.041 1.899-.086 2.782-.988 2.87-2.87.033-.738.04-.96.04-2.829s-.007-2.09-.04-2.828c-.088-1.883-.973-2.783-2.87-2.87zm-2.829 9.293c-1.985 0-3.595-1.609-3.595-3.595 0-1.985 1.61-3.594 3.595-3.594s3.595 1.609 3.595 3.594c0 1.985-1.61 3.595-3.595 3.595zm3.737-6.491c-.464 0-.84-.376-.84-.84 0-.464.376-.84.84-.84.464 0 .84.376.84.84 0 .463-.376.84-.84.84zm-1.404 2.896c0 1.289-1.045 2.333-2.333 2.333s-2.333-1.044-2.333-2.333c0-1.289 1.045-2.333 2.333-2.333s2.333 1.044 2.333 2.333zm-2.333-12c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.958 14.886c-.115 2.545-1.532 3.955-4.071 4.072-.747.034-.986.042-2.887.042s-2.139-.008-2.886-.042c-2.544-.117-3.955-1.529-4.072-4.072-.034-.746-.042-.985-.042-2.886 0-1.901.008-2.139.042-2.886.117-2.544 1.529-3.955 4.072-4.071.747-.035.985-.043 2.886-.043s2.14.008 2.887.043c2.545.117 3.957 1.532 4.071 4.071.034.747.042.985.042 2.886 0 1.901-.008 2.14-.042 2.886z"/>
</symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-1 0 122 120">
<symbol id="codepen" >
  <path class="outer-ring" d="M60,0C26.863,0,0,26.863,0,60c0,33.138,26.863,60,60,60c33.137,0,60-26.861,60-60C120,26.863,93.138,0,60,0z M60,110.146
  C32.35,110.146,9.854,87.65,9.854,60S32.35,9.854,60,9.854c27.65,0,50.145,22.496,50.145,50.146S87.65,110.146,60,110.146z"/>
<path class="inner-box" d="M97.071,48.281c-0.007-0.047-0.019-0.092-0.026-0.139c-0.016-0.09-0.032-0.18-0.056-0.267
  c-0.014-0.053-0.033-0.104-0.05-0.154c-0.025-0.078-0.051-0.156-0.082-0.232c-0.021-0.053-0.047-0.105-0.071-0.156
  c-0.033-0.072-0.068-0.142-0.108-0.21c-0.029-0.051-0.061-0.1-0.091-0.148c-0.043-0.066-0.087-0.131-0.135-0.193
  c-0.035-0.047-0.072-0.093-0.109-0.138c-0.051-0.059-0.104-0.117-0.159-0.172c-0.042-0.043-0.083-0.086-0.127-0.125
  c-0.059-0.053-0.119-0.104-0.18-0.152c-0.048-0.037-0.095-0.074-0.145-0.109c-0.019-0.012-0.035-0.027-0.053-0.039L61.769,23.438
  c-1.071-0.714-2.466-0.714-3.537,0L24.321,46.045c-0.018,0.012-0.034,0.027-0.053,0.039c-0.05,0.035-0.097,0.072-0.144,0.109
  c-0.062,0.049-0.123,0.1-0.181,0.152c-0.045,0.039-0.086,0.082-0.128,0.125c-0.055,0.055-0.108,0.113-0.158,0.172
  c-0.038,0.045-0.075,0.091-0.11,0.138c-0.047,0.062-0.092,0.127-0.134,0.193c-0.032,0.049-0.062,0.098-0.092,0.148
  c-0.039,0.068-0.074,0.139-0.108,0.21c-0.024,0.051-0.049,0.104-0.071,0.156c-0.031,0.076-0.057,0.154-0.082,0.232
  c-0.017,0.051-0.035,0.102-0.05,0.154c-0.023,0.087-0.039,0.177-0.056,0.267c-0.008,0.047-0.02,0.092-0.025,0.139
  c-0.019,0.137-0.029,0.275-0.029,0.416v22.607c0,0.141,0.011,0.279,0.029,0.418c0.006,0.045,0.018,0.092,0.025,0.137
  c0.017,0.09,0.032,0.18,0.056,0.268c0.015,0.053,0.033,0.104,0.05,0.154c0.025,0.078,0.051,0.155,0.082,0.233
  c0.021,0.053,0.047,0.104,0.071,0.154c0.034,0.072,0.069,0.143,0.108,0.213c0.029,0.049,0.06,0.098,0.092,0.146
  c0.042,0.066,0.087,0.131,0.134,0.193c0.035,0.049,0.072,0.094,0.11,0.139c0.05,0.059,0.103,0.117,0.158,0.172
  c0.042,0.043,0.083,0.086,0.128,0.124c0.058,0.053,0.118,0.104,0.181,0.152c0.047,0.037,0.094,0.074,0.144,0.109
  c0.019,0.012,0.035,0.027,0.053,0.039l33.911,22.607c0.536,0.357,1.152,0.537,1.769,0.537c0.616,0,1.233-0.18,1.768-0.537
  L95.68,73.956c0.018-0.012,0.034-0.027,0.053-0.039c0.05-0.035,0.097-0.072,0.145-0.109c0.061-0.049,0.121-0.1,0.18-0.152
  c0.044-0.038,0.085-0.081,0.127-0.124c0.056-0.055,0.108-0.113,0.159-0.172c0.037-0.045,0.074-0.09,0.109-0.139
  c0.048-0.062,0.092-0.127,0.135-0.193c0.03-0.049,0.062-0.098,0.091-0.146c0.04-0.07,0.075-0.141,0.108-0.213
  c0.024-0.051,0.05-0.102,0.071-0.154c0.031-0.078,0.057-0.155,0.082-0.233c0.017-0.051,0.036-0.102,0.05-0.154
  c0.023-0.088,0.04-0.178,0.056-0.268c0.008-0.045,0.02-0.092,0.026-0.137c0.018-0.139,0.028-0.277,0.028-0.418V48.697
  C97.1,48.557,97.089,48.418,97.071,48.281z M63.188,32.048L88.17,48.701l-11.158,7.465l-13.823-9.247V32.048z M56.812,32.048
  v14.871l-13.822,9.247l-11.159-7.465L56.812,32.048z M29.278,54.665L37.255,60l-7.977,5.335V54.665z M56.812,87.953L31.831,71.3
  l11.159-7.463l13.822,9.245V87.953z M60,67.543L48.723,60L60,52.458L71.276,60L60,67.543z M63.188,87.953V73.082l13.823-9.245
  L88.17,71.3L63.188,87.953z M90.723,65.336L82.746,60l7.977-5.335V65.336z"/></symbol>
</svg>

<svg  viewBox="0 0 72 72" width="24px" height="24px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<symbol id="codepen">
  <path d="M36,72 L36,72 C55.882251,72 72,55.882251 72,36 L72,36 C72,16.117749 55.882251,-3.65231026e-15 36,0 L36,0 C16.117749,3.65231026e-15 -2.4348735e-15,16.117749 0,36 L0,36 C2.4348735e-15,55.882251 16.117749,72 36,72 Z" id="Oval" fill="#ff97af"></path>
  <path d="M59.982,28.419 C59.9775,28.3875 59.97,28.359 59.9655,28.329 C59.955,28.2705 59.9445,28.212 59.9295,28.1565 C59.9205,28.122 59.907,28.089 59.8965,28.056 C59.88,28.005 59.8635,27.9555 59.844,27.906 C59.8305,27.8715 59.814,27.837 59.7975,27.8055 C59.7765,27.7575 59.754,27.7125 59.727,27.669 C59.709,27.636 59.688,27.6045 59.6685,27.573 C59.6415,27.5295 59.613,27.4875 59.5815,27.447 C59.559,27.417 59.535,27.387 59.511,27.3585 C59.478,27.3195 59.4435,27.282 59.4075,27.246 C59.3805,27.219 59.355,27.1905 59.3265,27.1665 C59.2875,27.132 59.2485,27.099 59.2095,27.0675 C59.178,27.0435 59.148,27.0195 59.1165,26.997 C59.1045,26.9895 59.094,26.979 59.082,26.9715 L37.1445,12.3465 C36.4515,11.8845 35.55,11.8845 34.8555,12.3465 L12.9195,26.9715 C12.9075,26.979 12.897,26.9895 12.885,26.997 C12.852,27.0195 12.822,27.0435 12.792,27.0675 C12.7515,27.099 12.7125,27.132 12.675,27.1665 C12.6465,27.1905 12.6195,27.219 12.5925,27.246 C12.5565,27.282 12.522,27.3195 12.4905,27.3585 C12.465,27.387 12.441,27.417 12.4185,27.447 C12.3885,27.4875 12.36,27.5295 12.333,27.573 C12.312,27.6045 12.2925,27.636 12.273,27.669 C12.2475,27.7125 12.225,27.7575 12.2025,27.8055 C12.1875,27.837 12.171,27.8715 12.1575,27.906 C12.1365,27.9555 12.12,28.005 12.1035,28.056 C12.093,28.089 12.081,28.122 12.072,28.1565 C12.057,28.212 12.0465,28.2705 12.036,28.329 C12.03,28.359 12.0225,28.3875 12.0195,28.419 C12.0075,28.506 12,28.596 12,28.6875 L12,43.3125 C12,43.4025 12.0075,43.4925 12.0195,43.5825 C12.0225,43.611 12.03,43.641 12.036,43.671 C12.0465,43.7295 12.057,43.7865 12.072,43.8435 C12.081,43.878 12.093,43.911 12.1035,43.944 C12.12,43.9935 12.1365,44.0445 12.1575,44.0955 C12.171,44.1285 12.1875,44.1615 12.2025,44.1945 C12.225,44.241 12.2475,44.286 12.273,44.3325 C12.2925,44.364 12.312,44.3955 12.333,44.427 C12.36,44.4705 12.3885,44.511 12.4185,44.5515 C12.441,44.583 12.465,44.613 12.4905,44.6415 C12.522,44.679 12.5565,44.718 12.5925,44.7525 C12.6195,44.781 12.6465,44.808 12.675,44.8335 C12.7125,44.868 12.7515,44.901 12.792,44.9325 C12.822,44.9565 12.852,44.9805 12.885,45.003 C12.897,45.0105 12.9075,45.021 12.9195,45.0285 L34.8555,59.6535 C35.202,59.8845 35.601,60 36,60 C36.399,60 36.798,59.8845 37.1445,59.6535 L59.082,45.0285 C59.094,45.021 59.1045,45.0105 59.1165,45.003 C59.148,44.9805 59.178,44.9565 59.2095,44.9325 C59.2485,44.901 59.2875,44.868 59.3265,44.8335 C59.355,44.808 59.3805,44.781 59.4075,44.7525 C59.4435,44.718 59.478,44.679 59.511,44.6415 C59.535,44.613 59.559,44.583 59.5815,44.5515 C59.613,44.511 59.6415,44.4705 59.6685,44.427 C59.688,44.3955 59.709,44.364 59.727,44.3325 C59.754,44.286 59.7765,44.241 59.7975,44.1945 C59.814,44.1615 59.8305,44.1285 59.844,44.0955 C59.8635,44.0445 59.88,43.9935 59.8965,43.944 C59.907,43.911 59.9205,43.878 59.9295,43.8435 C59.9445,43.7865 59.955,43.7295 59.9655,43.671 C59.97,43.641 59.9775,43.611 59.982,43.5825 C59.994,43.4925 60,43.4025 60,43.3125 L60,28.6875 C60,28.596 59.994,28.506 59.982,28.419 L59.982,28.419 L59.982,28.419 Z M38.0625,17.9175 L54.2235,28.6905 L47.0055,33.519 L38.0625,27.537 L38.0625,17.9175 L38.0625,17.9175 Z M33.9375,17.9175 L33.9375,27.537 L24.996,33.519 L17.7765,28.6905 L33.9375,17.9175 L33.9375,17.9175 Z M16.125,32.5485 L21.2865,36 L16.125,39.4515 L16.125,32.5485 L16.125,32.5485 Z M33.9375,54.0825 L17.7765,43.3095 L24.996,38.4825 L33.9375,44.463 L33.9375,54.0825 L33.9375,54.0825 Z M36,40.8795 L28.7055,36 L36,31.1205 L43.296,36 L36,40.8795 L36,40.8795 Z M38.0625,54.0825 L38.0625,44.463 L47.0055,38.4825 L54.2235,43.3095 L38.0625,54.0825 L38.0625,54.0825 Z M55.875,39.4515 L50.715,36 L55.875,32.5485 L55.875,39.4515 L55.875,39.4515 Z" fill="#000000"></path>
</symbol>
</svg>