
<footer class="footer">
  <svg class="footer__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 49"><polygon class="cls-1" points="500 0 500 49 255 20 119 49 0 25 0 0 500 0"/></svg>
  <div class="footer__bg"></div>
  <div class="footer__totop">
    <a href="#nav"><svg><use href="#backtotop"></use></svg></a>
  </div>
  <div class="footer__copy">
    <p>&copy; <span id="current-year"></span>Portfolio page of Patricia Molnar - Full Stack Web Developer</p>
    <div class="contact-details">
      <span>
        <svg><use href="#envelope"></use></svg>&nbsp;
        hello@patriciamolnar.com
      </span>
      <span>
        <svg><use href="#phone"></use></svg>&nbsp;
        07856673788
      </span>   
    </div>
    <%- include('./socials') %>
  </div>
</footer>

<script src="js/script.js"></script>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol id="github" width="24" height="24" viewBox="0 0 24 24">
      <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
  </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
<symbol id="linkedin" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 16h-2v-6h2v6zm-1-6.891c-.607 0-1.1-.496-1.1-1.109 0-.612.492-1.109 1.1-1.109s1.1.497 1.1 1.109c0 .613-.493 1.109-1.1 1.109zm8 6.891h-1.998v-2.861c0-1.881-2.002-1.722-2.002 0v2.861h-2v-6h2v1.093c.872-1.616 4-1.736 4 1.548v3.359z"/>
</symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
<symbol id="youtube" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.441 16.892c-2.102.144-6.784.144-8.883 0-2.276-.156-2.541-1.27-2.558-4.892.017-3.629.285-4.736 2.558-4.892 2.099-.144 6.782-.144 8.883 0 2.277.156 2.541 1.27 2.559 4.892-.018 3.629-.285 4.736-2.559 4.892zm-6.441-7.234l4.917 2.338-4.917 2.346v-4.684z"/>
</symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
<symbol id="twitter" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z"/>
</symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
<symbol id="envelope" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12 12.713l-11.985-9.713h23.971l-11.986 9.713zm-5.425-1.822l-6.575-5.329v12.501l6.575-7.172zm10.85 0l6.575 7.172v-12.501l-6.575 5.329zm-1.557 1.261l-3.868 3.135-3.868-3.135-8.11 8.848h23.956l-8.11-8.848z"/>
</symbol>   
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
<symbol id="phone" width="24" height="24" viewBox="0 0 24 24">
    <path d="M20 22.621l-3.521-6.795c-.008.004-1.974.97-2.064 1.011-2.24 1.086-6.799-7.82-4.609-8.994l2.083-1.026-3.493-6.817-2.106 1.039c-7.202 3.755 4.233 25.982 11.6 22.615.121-.055 2.102-1.029 2.11-1.033z"/>
</symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol id="backtotop" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 7.58l5.995 5.988-1.416 1.414-4.579-4.574-4.59 4.574-1.416-1.414 6.006-5.988z"/>
  </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol id="codepen" width="24" height="24" viewBox="0 0 600 600">
    <g transform="translate(0.000000,600.000000) scale(0.100000,-0.100000)" stroke="none">
    <path d="M2815 5864 c-190 -19 -259 -29 -385 -54 -733 -146 -1392 -592 -1814
    -1228 -245 -368 -402 -798 -458 -1252 -16 -135 -16 -515 0 -650 56 -454 213
    -884 458 -1252 471 -709 1213 -1165 2064 -1270 58 -7 204 -13 325 -13 121 0
    267 6 325 13 1157 142 2097 937 2426 2051 38 129 77 318 96 471 16 135 16 514
    0 650 -56 454 -213 884 -458 1252 -462 696 -1186 1150 -2015 1263 -109 15
    -481 27 -564 19z m232 -1094 c7 0 391 -252 852 -560 657 -437 844 -567 858
    -592 17 -31 18 -74 18 -613 0 -538 -1 -582 -18 -613 -14 -25 -200 -154 -845
    -584 -455 -304 -844 -558 -864 -565 -21 -7 -51 -10 -70 -6 -19 4 -378 236
    -870 564 -654 436 -841 566 -855 591 -17 31 -18 74 -18 613 0 538 1 582 18
    613 14 25 200 154 845 584 455 304 843 558 862 565 19 7 44 11 55 8 11 -3 26
    -5 32 -5z"/>
    <path d="M2247 3936 l-587 -393 266 -177 266 -178 329 219 328 218 1 353 c0
    193 -3 352 -7 351 -5 0 -272 -177 -596 -393z"/>
    <path d="M3160 3978 l1 -353 328 -218 329 -219 266 178 266 177 -590 394
    c-324 216 -592 393 -595 393 -3 0 -5 -159 -5 -352z"/>
    <path d="M2739 3187 c-141 -95 -258 -175 -260 -179 -3 -7 485 -341 518 -355
    15 -6 546 348 536 358 -20 18 -524 349 -530 348 -5 0 -123 -77 -264 -172z"/>
    <path d="M1540 3005 l0 -256 188 127 c103 70 188 128 188 128 1 1 -83 58 -187
    129 l-189 127 0 -255z"/>
    <path d="M4279 3132 l-185 -127 188 -128 188 -127 0 255 c0 140 -1 255 -2 254
    -2 0 -86 -58 -189 -127z"/>
    <path d="M1922 2643 l-262 -176 590 -394 c324 -216 592 -393 595 -393 3 0 5
    159 5 353 l-1 352 -327 218 c-180 119 -329 217 -332 216 -3 0 -123 -80 -268
    -176z"/>
    <path d="M3488 2602 l-327 -217 -1 -352 c0 -194 2 -353 5 -353 3 0 271 177
    595 393 l590 394 -265 176 c-146 98 -266 177 -267 177 -2 0 -150 -98 -330
    -218z"/>
    </g>
  </symbol>
</svg>
