<% if(data.skills) { %> 
  <section id="skills">
    <h3>Skills<span class="primary">.</span></h3>
    
    <div class="skills__grid">
      <% for(let criteria in data.skills) { %>
        <div class="skills__card">
          <p class="skills__lang"><%= criteria.charAt(0).toUpperCase() + criteria.slice(1); %></p>
          <ul class="skills__list">
            <% data.skills[criteria].forEach(skill => { %>
              <li><%= skill %></li> 
            <% }); %><%# end forEach %> 
          </ul>
        </div>
      <% } %><%# end for in %>
    </div>
  </section>
<% } %><%# end if %>