<% if(data.skills) { %> 
  <section id="skills">
    <h3>Skills<span class="primary">.</span></h3>
    
    <div class="skills__grid">
      <% for(let criteria in data.skills) { %>
        <p><%= criteria.charAt(0).toUpperCase() + criteria.slice(1); %></p>
        <ul>
          <% data.skills[criteria].forEach(skill => { %>
            <li><%= skill %></li>
          <% }); %><%# end forEach %> 
        </ul>
      <% } %><%# end for in %>
    </div>
  </section>
<% } %><%# end if %>