<div class="social-media">
  <p>Find me on social media:</p>
  <a href="https://github.com/patriciamolnar"><svg>
    <use href="#github"></use></svg></a>
  <a href="https://www.linkedin.com/in/patricia-molnar-a469471b3/">
    <svg><use href="#linkedin"></use></svg></a>
  <a href="https://www.youtube.com/channel/UCnTVj2blZd_9_xpbo2t7ARw">
    <svg><use href="#youtube"></use></svg></a>
  <a href="https://twitter.com/pmcoding">
    <svg><use href="#twitter"></use></svg></a>
  <a href="https://codepen.io/patriciamolnar/">
    <img src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Large.png" width="24" height="24" alt="">  
</div>