html {
  font-size: 62.5%
}

body {
  font-size: 1.6rem;
  line-height: 1.6; 
  font-family: $font;
  background-color: $secondary; 
  color: lighten($secondary, 100%); 
}

h1, h2, h3, h4 {
  margin: 0;
}

h3 {
  font-size: 3rem;
  //Intersection Observer
  opacity: 0;  
  transform: translateY(-2rem);
  transition: opacity 1s ease-out, transform 1s ease-out; 

  &.appear {
    opacity: 1; 
    transform: translateY(0);
  }
}

h4 {
  font-size: 2rem;
}

section {
  @include pad();
}

.button {
  display: inline-block;
  font-size: 1.6rem;
  background-color: $primary;
  color: $secondary;
  padding: 0.5em 1em;
  margin-top: 1em;
  box-shadow: $shadow; 
  font-weight: 500;
  border-bottom: none; 
  position: relative;

  &:hover {
    border-bottom: 0; 
    color: $secondary;
  }

  &::after {
    content: ''; 
    position: absolute; 
    inset: 0 0 0 0; 
    background-color: adjust-color($secondary, $alpha: -0.8);
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform 0.5s ease-in-out; 
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

a {
  color: $primary;
  text-decoration: none;
  border-bottom: 1px solid $primary;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

a:hover {
  color: $hover;
  border-color: $hover;
}

::marker {
  color: $primary; 
}

.primary {
  color: $primary;
}

.underline {
  color: lighten($secondary, 80%)
}

.bold {
  font-weight: 500;
}

.social-media {
  svg {
    fill: $primary; 
    display: inline; 
    width: 2.4rem; 
    height: 2.4rem;
    transition: fill 0.5s ease-in-out; 
  }

  svg:hover {
    fill: $hover; 
  }

  a {
    border-bottom: none; 
  } 
}

//Page Dividers
.divider {
  &.light {
    @include divider(lighten($secondary, 6%));
  }

  &.dark {
    @include divider($secondary);
  }
}

//Intersection Observer rules
.transition {
  opacity: 0;  
  transform: translateY(2rem);
  transition: opacity 1s ease-out, transform 1s ease-out; 

  &.appear {
    opacity: 1; 
    transform: translateY(0);
  }
}

@media screen and (min-width: 64em) {
  section {
    @include pad(2em, 6em, 2em, 6em);
  }
}