html {
  font-size: 62.5%
}

body {
  font-size: 1.6rem;
  line-height: 1.6; 
  font-family: $font;
  background-color: $secondary; 
  color: $light; 
}

h1, h2, h3, h4 {
  margin: 0;
}

h3 {
  font-size: 3rem;
  //Intersection Observer
  opacity: 0;  
  transform: translateY(-2rem);
  transition: opacity 1s ease-out, transform 1s ease-out; 

  &.appear {
    opacity: 1; 
    transform: translateY(0);
  }
}

h4 {
  font-size: 2rem;
}

section {
  @include pad();
}

button {
  cursor: pointer;
}

.button {
  display: inline-block;
  font-size: 1.6rem;
  background-color: $primary;
  color: $secondary;
  padding: 0.5em 1em;
  margin-top: 1em;
  box-shadow: $shadow; 
  font-weight: 500;
  border-bottom: none; 
  position: relative;

  &:hover {
    border-bottom: 0; 
    color: $secondary;
  }

  &::after {
    content: ''; 
    position: absolute; 
    @include inset();  
    background-color: adjust-color($secondary, $alpha: -0.8);
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform 0.2s ease-in-out; 
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &:focus {
    color: $secondary;
    @include fcs();
  }

  &:focus:not(:focus-visible) {
    background-color: $primary; 
  }
}

a {
  color: $primary;
  text-decoration: none;
  border-bottom: 1px solid $primary;
  transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;

  &:hover {
    color: $contrast;
    border-color: $contrast;
  }

  &:focus {
    color: $contrast; 
    border-bottom: none;
    outline: 2px solid $contrast;
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none; 
    border-bottom: 1px solid $contrast;
  }
}

::marker {
  color: $primary; 
}

.primary {
  color: $primary;
}

.diff {
  color: lighten($secondary, 80%)
}

.bold {
  font-weight: 500;
}


.social-media {
  svg {
    fill: $primary; 
    display: inline; 
    width: 2.4rem; 
    height: 2.4rem;
    transition: fill 0.2s ease-in-out; 
    margin-right: 0.4rem;
  }

  svg:hover {
    fill: $contrast; 
  }
  
  a {
    border-bottom: none; 
  
    &:focus {
      outline: none; 

      svg {
        fill: $contrast; 
        box-shadow: 0 0 0 2px $secondary, 0 0 0 4px $contrast; 
        border-radius: 50%; 
      }
    }

    &:focus:not(:focus-visible) {
      border-bottom: none; 

      svg {
        fill: $primary; 
        box-shadow: none;  
      }
    }
  } 
}

//Page Dividers
.divider {
  &.light {
    @include divider(lighten($secondary, 6%));
  }

  &.dark {
    @include divider($secondary);
  }
}

//Intersection Observer rules
.transition {
  opacity: 0;  
  transform: translateY(2rem);
  transition: opacity 1s ease-out, transform 1s ease-out; 

  &.appear {
    opacity: 1; 
    transform: translateY(0);
  }
}

@media screen and (min-width: 64em) {
  section {
    @include pad(2em, 6em, 2em, 6em);
  }
}

@media screen and (min-width: 90em) {
  body { 
    line-height: 2; 
  }
  section {
    @include pad(3em, 10em, 3em, 10em);
  }
}

@media screen and (min-width: 120em) {
  body {
    font-size: 1.8rem;
  }

  section {
    @include pad(5em, 15em, 4em, 15em);
  }
}