#contact {
  & > p {
    @extend .transition; 
  }

  &__link {
    display: inline-block;
    transform: scale(0.5, 0.5);
    transition: transform 1s ease-out, opacity 1s ease-out; 
    opacity: 0; 
    margin-top: 0; 
    margin-bottom: 0.5rem; 
    
    &.appear {
      opacity: 1; 
      transform: scale(1, 1);
    }
  }
}

#contact-button {
  border-bottom: none;
  background-color: $primary;
  display: inline-block; 
  border-radius: 50%;
  box-shadow: $shadow;

  position: fixed; 
  right: 1em; 
  bottom: 1em; 

  svg {
    fill: $secondary; 
    width: 24px; 
    height: 24px;
    padding: 0.5em 0.5em 0.3em;     
  } 
}

@media screen and (min-width: 50em) {
  #contact {
    padding-top: 4em;
  }
}