#contact {
  &__link {
    display: inline-block;
    transform: scale(0.5, 0.5);
    transition: transform 1s ease-out, opacity 1s ease-out; 
    opacity: 0; 
    margin-top: 0; 
    margin-bottom: 0.5rem; 
    
    &.appear {
      opacity: 1; 
      transform: scale(1, 1);
    }
  }
}

#contact-button {
  background-color: $primary; 
  padding: 0.4em 4em 0.4em 0.5em;
  line-height: 0.6; 
  border-bottom: none;

  position: fixed; 
  z-index: 1; 
  right: -3.5em; 
  bottom: 1em; 
  transition: right 0.6s ease-in-out;

  &:hover {
    right: 0; 
    border-bottom: none;
  }

  &:focus {
    outline: none; 
    background-color: $contrast; 
    right: 0; 
  }

  &:focus:not(:focus-visible) {
    background-color: $primary;
  }

  &::before {
    content: 'Hello!';
    font-weight: 500;
    font-family: $font;
    position: absolute; 
    color: $secondary; 
    right: 0.5em; 
    top: 50%; 
    transform: translateY(-50%); 
    opacity: 0; 
    transition: opacity 0.6s ease-in-out;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1; 
  }

  svg {
    fill: $secondary; 
    width: 24px; 
    height: 24px;
  } 
}


@media screen and (min-width: 50em) {
  #contact {
    .section--padding {
      padding-top: 8em;
    }
  }
}