footer {
  @extend .social-media; 
  @include pad(); 
  
  font-size: 1.2rem;
  padding-top: 4em; 
  margin-bottom: -3rem;
  margin-top: -3em;

  position: relative;
  
  .footer__bg {
    background-color: $secondary;
    @include bg('../img/flowers.jpg', top left);
  
    position: absolute; 
    inset: 0; 
    z-index: -1;
  }

  .contact-details {
    span {
      display: flex; 
      align-items: center;
    }
  }
}

@media screen and (min-width: 50em) {
  footer {
    margin-top: -5em;
    @include pad(8em, 6em, 2em, 6em);

    .social-media {
      position: absolute; 
      right: 6em; 
      bottom: 2em;
    }
  }
}


@media screen and (min-width: 90em) {
  footer {
    margin-top: -7em;
    @include pad(12em, 10em, 4em, 10em);

    .social-media {
      right: 10em; 
      bottom: 4em;
    }
  }
}

@media screen and (min-width: 120em) {
  footer {
    margin-top: -7em;
    @include pad(14em, 15em, 4em, 15em);

    .social-media { 
      right: 15em; 
      bottom: 4em;
    }
  }
}