footer {
  @extend .social-media; 
  @include pad(); 
  
  font-size: 1.2rem;
  padding-top: 4em; 
  margin-bottom: -3rem;
  margin-top: -3em;

  position: relative;
  
  .footer__bg {
    background-color: $secondary;
    @include bg('https://images.pexels.com/photos/1182338/pexels-photo-1182338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', top left);
  
    position: absolute; 
    inset: 0; 
    z-index: -1;
    opacity: 0.4;
  }

  .contact-details {
    span {
      display: flex; 
      align-items: center;
    }
  }
}

@media screen and (min-width: 50em) {
  footer {
    margin-top: -5em;
    @include pad(8em, 6em, 2em, 6em);

    .social-media {
      position: absolute; 
      right: 6em; 
      bottom: 2em;
    }
  }
}