.footer {
  font-size: 1.2rem;
  position: relative;

  &__svg {
    width: 100%; 
    fill: $secondary; 
    margin-top: -1px;
  }
  
  &__bg {
    background-color: $secondary;
    @include bg('../img/flowers.jpg', top left);
  
    position: absolute; 
    @include inset();  
    z-index: -1;
  }

  &__copy {
    padding: $default; 
    @extend .social-media;

    .contact-details {
      span {
        display: flex; 
        align-items: center;
      }
    }
  }

  &__totop {
    @extend .social-media; 
    text-align: center;

    a {
      box-shadow: $shadow; 
    }
  }
}

@media screen and (min-width: 40em) {
  .footer {
    &__copy {
      padding: $default 4em; 
    }
  }
}

@media screen and (min-width: 50em) {
  .footer { 
    &__copy {
      padding: 8em 6em $default;
  
      .social-media {
        position: absolute; 
        right: 6em; 
        bottom: 2em;
      }
    }
  }
}

@media screen and (min-width: 90em) {
  .footer { 
    &__copy {
      padding: 12em 10em 4em;
  
      .social-media {
        right: 10em; 
        bottom: 4em;
      }
    }
  }
}


@media screen and (min-width: 120em) {
  .footer { 
    &__copy {
      padding: 14em 15em 4em;
  
      .social-media {
        right: 15em; 
        bottom: 4em;
      }
    }
  }
}
