// Mobile Burger Navigation
.header__flex {
  display: flex; 
  flex-direction: row;
  align-items: center;
}

#burger {
  display: inline-block;  
  position: relative; 
  padding: 0.5em;
  z-index: 2;

  .bar1, .bar2, .bar3 {
    width: 2.5rem;
    height: 0.2rem;
    background-color: lighten($secondary, 100%);
    margin: 0.6rem 0;
    transition: 0.3s;
    pointer-events: none;
  }

  // when user expands navigation
  &.change {
    transform: rotate(90deg);
    transition: all 0.5s ease-in-out; 

    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-6px, 6px);
      transform: rotate(-45deg) translate(-5px, 6px);
      background-color: $secondary;
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -6px);
      transform: rotate(45deg) translate(-5px, -6px);
      background-color: $secondary;
    }
  }
}

#nav {
  position: absolute;
  top: 0;
  height: 0; 
  overflow: hidden; 
  background-color: $primary;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;

  &.show {
    height: 100%;
    width: 100%; 
    opacity: 1;
  }

  ul {
    list-style-type: none;
    margin-top: 2.5em;
    padding-left: 0;
  }

  a {
    display: block;
    color: $secondary;
    text-decoration: none; 
    font-weight: 600;
    font-size: 4rem;
    padding: 0.5em;
  }
}

// Hero 
.hero {
  @include pad(); 

  p {
    margin: 0;
  }

  &__name {
    font-size: calc(2rem + 1vw);
    font-weight: 600;
  }

  &__title {
    text-transform: uppercase;
    font-size: calc(4.5rem + 1vw);
    font-weight: 800; 
    padding: 0.1em 0;
    
    span:nth-of-type(1) {
      color: $secondary;
      text-shadow:
      -1px -1px 0 lighten($secondary, 100%),  
      1px -1px 0 lighten($secondary, 100%),
      -1px 1px 0 lighten($secondary, 100%),
      1px 1px 0 lighten($secondary, 100%);
    }

    span:nth-of-type(3) {
      color: $primary; 
    }
  }

  &__skills {
    color: lighten($secondary, 90%);
  }
  a {
    @extend .button; 
    font-size: 1.8rem;
  }
}