@mixin pad($top: $default, $right: $default, $bottom: $default, $left: $default) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin divider($c: $secondary, $m: -0.5em) {
  fill: $c; 
  margin-bottom: $m;

  @media (min-width: 50em) {
    margin-bottom: -1.5em;
  }

  @media (min-width: 90em) {
    margin-top: -0.5em;
    margin-bottom: -2em;
  }

  @media (min-width: 120em) {
    // margin-top: -1em; 
    margin-bottom: -2.5em;
  }
}

@mixin bg($url, $p: center) {
  background-image: url($url); 
  background-position: $p;
  background-repeat: no-repeat;
  background-size: cover;
}

//focus rule for buttons
@mixin fcs($c: $contrast, $w: 2px, $o: 2px) {
  background: $c;
  outline: $w solid $c; 
  outline-offset: $o;
  transition: none; 
}

@mixin inset($t: 0, $b: 0, $l: 0, $r: 0) {
  top: $t; 
  bottom: $b; 
  left: $l; 
  right: $r; 
}