@mixin pad($top: $default, $right: $default, $bottom: $default, $left: $default) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin divider($c: $secondary, $m: -0.5em) {
  fill: $c; 
  margin-bottom: $m;

  @media (min-width: 50em) {
    margin-bottom: -1.5em;
  }
}

@mixin bg($url, $p: center) {
  background-image: url($url); 
  background-position: $p;
  background-repeat: no-repeat;
  background-size: cover;
}

//focus rule for buttons
@mixin fcs($c: $contrast, $w: 2px, $o: 2px) {
  background: $c;
  outline: $w solid $c; 
  outline-offset: $o;
  transition: none; 
}