@mixin bg($url, $p: center) {
  background-image: url($url); 
  background-position: $p;
  background-repeat: no-repeat;
  background-size: cover;
}

//focus rule for buttons
@mixin fcs($c: $contrast, $w: 2px, $o: 2px) {
  background: $c;
  outline: $w solid $c; 
  outline-offset: $o;
  transition: none; 
}

@mixin inset($t: 0, $b: 0, $l: 0, $r: 0) {
  top: $t; 
  bottom: $b; 
  left: $l; 
  right: $r; 
}