.portfolio {
  background-color: lighten($secondary, 6%); 
  margin-top: -0.5em;

  h3 {
    margin-bottom: 0.5em;
  }

  .grid {
    display: grid; 
    grid-template-columns: 1fr;
    grid-gap: $default;

    &__card {
      background-color: lighten($secondary, 10%);
      box-shadow: $shadow;
      overflow-x: hidden;
      position: relative;
      padding-bottom: 3em;

      //Intersection Observer Rules
      opacity: 0;  
      transition: opacity 1s ease-out, transform 1s ease-out; 

      //appear from the left
      &:nth-child(odd) {
        transform: translateX(-2em);
      }

      //appear from the right
      &:nth-child(even) {
        transform: translateX(2em);
      }

      &.appear {
        opacity: 1; 
        transform: translateX(0);
      } 
    }  

    &__video {
      position: relative;
      padding-bottom: 56.25%;
    
      iframe {
        position: absolute; 
        @include inset(); 
      } 
    }

    &__copy {
      @include pad(); 

      & > div:nth-of-type(2) {
        position: absolute; 
        bottom: 2em; 
        left: 2em;

        .button {
          margin-right: 0.5em;
        }
      }
    }

    &__title {
      color: $primary;
    }

    &__desc {
      color: lighten($secondary, 85%);
    }
  }
}

@media screen and (min-width: 50em) {
  .portfolio {
    .grid {
      display: grid; 
      grid-template-columns: repeat(2, 1fr);
      gap: 2em; 
    }
  }
}

@media screen and (min-width: 90em) {
  .portfolio {
    .grid {
      gap: 3em; 
    }
  }
}

@media screen and (min-width: 120em) {
  .portfolio {
    .grid {
      gap: 4em; 
    }
  }
}