.skills__card {
  @extend .transition; 

  .skills__lang {
    @extend .certificates__lang; 
    font-size: 2rem;
    margin-bottom: 0;
  }

  .skills__list {
    color: lighten($secondary, 90%);
    list-style-type: none;
    padding: 0; 
    margin-top: 0; 
  }
}


@media screen and (min-width: 50em) {
  .skills__grid {
    display: grid; 
    grid-template-columns: repeat(3, auto);
    grid-template-areas: 'frontend backend database' 'frontend other noncode';
    gap: 0 2em;
    justify-content: space-between;
    
    .skills__card:nth-of-type(1) {
      grid-area: frontend;
    }

    .skills__card:nth-of-type(2) {
      grid-area: backend;
    }

    .skills__card:nth-of-type(3) {
      grid-area: database;
    }

    .skills__card:nth-of-type(4) {
      grid-area: other;
    }

    .skills__card:nth-of-type(5) {
      grid-area: noncode;
    }

  }
}


@media screen and (min-width: 90em) {
  .skills {
    padding-top: 6em;

    &__list {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 120em) {
  .skills {
    padding-top: 8em;
  }
}