.skills__card {
  @extend .transition; 

  .skills__lang {
    @extend .certificates__lang; 
    font-size: 2rem;
    margin-bottom: 0;
  }

  .skills__list {
    color: lighten($secondary, 90%);
    list-style-type: none;
    padding: 0; 
    margin-top: 0; 
  }
}