@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Unica+One&display=swap');

$font: 'Poppins';
$font2: 'Unica One';

$secondary: #000; 
$primary: #ff97af;
$light: #fff; 
$contrast: #af75fa;

$default: 2em;

$shadow: 0 45px 35px -15px rgba(0, 0, 0, 0.5);