@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

$font: 'Poppins';

$secondary: hsl(0, 0%, 0%); 
$primary: #ff97af;

$default: 2em;

$shadow: 0 45px 35px -15px rgba(0, 0, 0, 0.5);