@import 'variables'; 
@import 'mixins';
@import 'base';
@import 'header';
@import 'portfolio';
@import 'skills';
@import 'certificates';
@import '_contact.scss';
@import '_footer.scss';

//About
.about {
  @extend .portfolio; 

  .youtube-link {
    margin-top: 3em;
  }
}

symbol {
  width: 24px; 
  height: 24px; 
}
