@import 'variables'; 
@import 'mixins';
@import 'base';
@import 'header';
@import 'portfolio';

.about {
  @extend .portfolio; 
}

footer {
  @include pad(); 
  font-size: 1.2rem;
}

svg {
  fill: $primary; 
  display: inline; 
  width: 2.4rem; 
  height: 2.4rem;
}