@import 'variables'; 
@import 'mixins';
@import 'base';
@import 'header';
@import 'portfolio';
@import 'skills';
@import 'certificates';
@import '_contact.scss';
@import '_footer.scss';

//About
.about {
  @extend .portfolio; 

  & > p {
    @extend .transition;
  }
}
